.footer {
    background-color: rgb(197, 157, 228);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #39023A;
    font-weight: bolder;
    position: absolute;
    z-index: 1;
}