.father-container {
    background-color: #110126;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    top: 140px;
}