<section class = 'cards-container'>
    <button class = 'card' *ngFor = 'let item of data' matTooltipPosition = 'above' [matTooltip] = 'item.release_date.slice(0, 4)'>
        <img [src] = "'https://image.tmdb.org/t/p/w500/' + item.poster_path" [alt] = item.title>
        <section class = 'movietitle'>
            <h3>{{item.title}}</h3>
            <!-- <h5>{{item.release_date.slice(0, 4)}}</h5> -->
        </section>
        <!-- <li>
            <app-movie *ngFor = 'let item of data'></app-movie>
        </li> -->
    </button>
    <mat-paginator [length] = 'total_length'
                [pageSize] = 'page_size'
                [pageSizeOptions]='pageSizeOptions'
               (page) = "handlePage($event)"
    ></mat-paginator>
</section>
