.cards-container {
    background-color: #110126;
    width: 70%;
    height: 100;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 30%;
    padding: 30px 0 150px;
}

.card {
    width: 150px;
    height: 230px;
    background-color: white;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
}

.movietitle {
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

img {
    max-width: 150px;
}

mat-paginator {
    background-color: rgb(197, 157, 228);
    font-family: 'Lato', sans-serif;
}